/*
Error: File to import not found or unreadable: 0-plugins/plugins-dir.
       Load paths:
         B:/Documents/Documents/GitHub/portoflio_source/_site/css
         B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/bourbon-4.2.6/app/assets/stylesheets
         B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/neat-1.7.2/app/assets/stylesheets
         B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/susy-2.2.9/sass
         B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/bitters-1.1.0/app/assets/stylesheets
         B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/compass-core-1.0.3/stylesheets
         Compass::SpriteImporter
        on line 1 of main.sass

1: @import '0-plugins/plugins-dir'
2: @import '1-base/base-dir'
3: @import '2-modules/modules-dir'
4: @import '3-layouts/layouts-dir'

Backtrace:
main.sass:1
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/import_node.rb:67:in `rescue in import'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/import_node.rb:45:in `import'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/import_node.rb:28:in `imported_file'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/import_node.rb:37:in `css_import?'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/tree/root_node.rb:20:in `render'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/engine.rb:278:in `render'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:420:in `run'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:63:in `process_result'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/exec/base.rb:52:in `parse'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/lib/sass/exec/base.rb:19:in `parse!'
B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/sass-3.4.20/bin/sass:13:in `<top (required)>'
B:/Programs/Prepros/resources/app/ruby/loader.rb:15:in `load'
B:/Programs/Prepros/resources/app/ruby/loader.rb:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: 0-plugins/plugins-dir.\A        Load paths:\A          B:/Documents/Documents/GitHub/portoflio_source/_site/css\A          B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/bourbon-4.2.6/app/assets/stylesheets\A          B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/neat-1.7.2/app/assets/stylesheets\A          B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/susy-2.2.9/sass\A          B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/bitters-1.1.0/app/assets/stylesheets\A          B:/Programs/Prepros/resources/app/ruby/ruby_gems/gems/compass-core-1.0.3/stylesheets\A          Compass::SpriteImporter\A         on line 1 of main.sass\A \A 1: @import '0-plugins/plugins-dir'\A 2: @import '1-base/base-dir'\A 3: @import '2-modules/modules-dir'\A 4: @import '3-layouts/layouts-dir'"; }
