@import "bourbon"
@import "neat"

.aboutme
    display: flex
    +size(100% 30em)
    background-color: #9BBDF2
    justify-content: space-between
    flex-flow: row nowrap

    .aboutmeimg
        display: inline-block
        +size(80%)
        //background-color: white
        background-image: url("../img/face.png")
        background-position: center
        background-size: 100%, 100%
        z-index: 1
        border-radius: 50%
        margin: 5em 0 0 5em
        border: 1em solid white

    .aboutmetext
        text-align: left
        z-index: 5
        //margin: -20em 0 1em 28em
        padding: 2em 0 0 0
        border: 1px solid black
        +size(100%)




