.workgallery
    position: relative
    border: 3px solid black
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    top: 5em
    
    .workimages
        background-color: tint(red, 40%)
        margin: 1em 1em 0 0 
        flex-grow: 1