.workgallery
    padding: 0
    margin: 5em 0 5em 0
    list-style: none
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    -webkit-flex-flow: row wrap
    justify-content: space-around


    .workimages
        background-color: tint(red, 40%)
        margin: 1em 1em 0 0
        +size(9.5em 5em)
        +span-columns(4)
