@import "bourbon"
@import "neat"

.toggle
    text-decoration: none
    font-size: 2.2em
    color: black
    +transition()
    +position(fixed, 1em 0 0 0.7em)
    z-index: 1
    cursor: pointer
    +size(1em)


.sidebar
    +position(fixed, 0em 0 0em -12em)
    +transition()
    z-index: 0
    width: 12em
    padding: 2em
    background: #333
    //display: none

    li
        margin-bottom: 1em
        color: rgba(255,255,255,0.8)
        font-family: 'Ubuntu', sans-serif
        font-size: 1.2em
        text-allign: center
        -webkit-font-smoothing: antialiased
        cursor: pointer
        display: inline-block
        outline: none
        padding: 0 8.15em
        position: relative
        border-bottom: 1px solid tint(black, 15%)
        +size(10em 1.5em)
        left: -8em

        &:hover
            color: rgba(255,255,255,1)

#sidebartoggle
    display: none

    &:checked + .page-wrap

        .sidebar
            left: 0em

        .toggle
            left: 6.5em

        .page-wrap > *
            left: 12em
