body
    background-image: url("../../img/ignasi_pattern_s.png")

    .page-wrap
        +outer-container
        .slides
            margin: auto

        .workgallery
            z-index: 2
            +span-columns(12)



